/* header section  */

body {
  font-family: "Merriweather", serif;
}

.first-box {
  width: 1320px;
  height: 600px;
  border-radius: 16px;
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(../resources/Banner\ Image.png);
  background-position: relative;
  background-size: cover;

  margin: 50px 90px 0px 90px;
}

.content-f {
  
  color: white;
  padding-top: 120px;

  text-align: center;

  font-size: 22px;
}


.font-inter{
  font-family: "Inter", sans-serif;



}

/* .second-box{


  width: 1600px;
  height: 7335px;


} */

.boxof65{
  
  color: #f00;
  text-align: center;
  /* background-color: aqua; */

  font-size: 50px;

  margin-top: 290px;
  margin-bottom: 0px;
}


.belowsixty{
  color: #F00;
  
 margin-top: 0px;
  text-align: center;
  
  font-size: 40px;
  

}
#cat{

  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
 

  
}


.photo{


  width: 802.9px;
  height: 500px;
  background-image: url(../resources/New\ Year\ Photo.png);
  background-position: center;
background-size: cover;
margin-left: 245px;



}