/* header section  */

.font-merriweather {
  font-family: "Merriweather", serif;
}

.first-box {
  width: 1320px;
  height: 600px;
  border-radius: 16px;
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(../resources/Banner\ Image.png);
  background-position: relative;
  background-size: cover;

  margin: 50px 90px 0px 90px;
}

.content-f {
  color: white;
  padding-top: 120px;

  text-align: center;

  font-size: 22px;
}

.font-inter {
  font-family: "Inter", sans-serif;
  color: #f00;
}

.boxof65 {
  color: #f00;
  text-align: center;
  /* background-color: aqua; */

  font-size: 50px;

  margin-top: 290px;
  margin-bottom: 0px;
}

.belowsixty {
  color: #f00;

  margin-top: 0px;
  text-align: center;

  font-size: 40px;
}
#cat {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
}

.photo {
  width: 802.9px;
  height: 500px;
  background-image: url(../resources/New\ Year\ Photo.png);
  background-position: center;
  background-size: cover;
  margin-left: 245px;
}

.midnight-box {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(../resources/Vectorrr.png);
  background-size: cover;
  background-position: center;

  margin-top: 1000px;
  margin-left: 100px;
  width: 1320px;
  height: 600px;

  padding-left: 50px;
}

.t1 {
  height: 250px;
  width: 600px;
  color: #fff;

  font-size: 50px;

  font-weight: 800;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
}

.t2 {
  width: 550px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.btn{

background-color: transparent;
border: none;
color:white;
text-align: center;
font-family: Inter;
font-size: 20px;

text-transform: uppercase;
padding-top: 50px;
padding-left: 40px;


}


.below-mid{
  width: 1370px;
  height: 600px;
margin-top: 120px;
margin-left: 101px;


  
  background:  linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);

border-radius: 10px;


}



.below-mid{

display: flex;
justify-content: center;
align-items: center;
flex-direction: column;



}

.reddy{

  color: #F00;
  text-align: center;
  font-family: Inter;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 175% */
  text-transform: capitalize;


}

.text-elements{

  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: .1em;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}


.btn2{
  font-family: Inter;
font-size: 20px;
font-style: normal;
  color:white;
  height:50px;
  width:130px;
  border:none;
  border-radius: 8px;
  background: #F00;
}


.bonus-content{

  width: 1340px;
  height: 500px;
  background: #fff;
  /* border:5px solid black; */
  display: flex;
  align-items: center;
  margin-left: 190px;
  margin-top: 200px;



}


.btn-b1{



  
  font-size: 18px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;



}

.btn-b2{
  color: #070211;
  font-family: Merriweather;
  font-size: 52px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;



}


.btn-b3{

  width: 393px;
  color: rgba(7, 2, 17, 0.60);

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */



}

.second-section{

  width: 463px;
  height: 463px;
  flex-shrink: 0;
  margin-left: 45px;
  border-radius: 463px;
border: 15px solid #F00;


display:flex;
justify-content: center;
align-items: center;


}

.image-holder{

  width: 364.844px;
  height: 364.844px;
 

  border-radius: 364.844px;
background: url(../resources/Ellipse\ 1.png), lightgray -91.279px 0px / 150.038% 100% no-repeat;




}

/* Third section */

.third-section{

margin-left: 95px;


}


.third-section1{

  font-size: 32px;

}



.third-section-d2{

  width: 276px;
  color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */


}

.third-section-d3{
  width: 140px;
  height: 140px;
  flex-shrink: 0;
  background-image:url(../resources/Group\ 96.png);





}


.image-t2{


  color: #070211;

font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: 0px;
text-transform: capitalize;



}

.image-t3{

width:800px;

  color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */


}


.text-elements2{


margin-left: 170px;


}

.image-galary{

  margin-top: 70px;
  margin-left: 60px;
  width: 1600px;
  height: 1400px;
/* border:5px solid black; */

}



.images{
 margin-left: 60px; 
padding:0px 110px;
display:grid;
grid-template-columns: repeat(3,1fr);
gap:40px;


}
.hv:hover{

border:10px solid blue;
border-radius: 30px;


}


/* newsletter */




.newsletter{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 1420px;
height: 700px;
flex-shrink: 0;
/* border:5px solid black; */
margin-top: 70px;
margin-left: 200px;
border-radius: 16px;
background: rgba(255, 0, 0, 0.05);



}


#news1{

  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;


}

#news2{


  

  color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
width:800px;




}


.btn-special{

  width: 300px;
height: 72px;
flex-shrink: 0;
  border:none;
  border-radius: 50px;
  background: #FFF;
  height: 50px;

}

.btn-special2{
  
  position: relative;
  border:none;
  width: 100px;

flex-shrink: 0;
  margin-top:2px;
  right:24px;
  border-radius: 0px 30px 30px 0px;
background: #F00;
color:#FFF;
height: 50px;



}




.main-sec{


  
  
  margin-left: 50px;
  width: 100%;
  height: 609px;
  flex-shrink: 0;
  background: #070211;



}


.footer{
width:100%;
display: flex;
justify-content: space-between;



}



.top-left p{
  width:400px;
  padding-left: 170px;
  padding-top: 50px;
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 166.667% */
  


}

.top-left > #copyright{



  margin-top: 260px;





}


.first-tr p, .second-tr p{
 
color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px; /* 166.667% */

padding:10px;


}

.first-tr img{

  width: 24px;
  height: 24px;
  flex-shrink: 0;
  padding-top: 40px;



}

.first-tr{

  display: flex;
 
padding-right: 500px;
margin-top: 50px;




}

.second-tr{


  display: flex;
 
  padding-right: 90px;

  margin-top: -60px;
  



}


.second-tr >img{


  width: 24px;
  height: 24px;
  flex-shrink: 0;
  padding-top: 40px;


}




.third-tr>button{
  
  margin-top: 260px;
  width:50px;
  background:transparent;
  border: none;
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;





}


 /* .footer hr{

  
  display:flex;
  flex-direction: row;
  margin-top: 350px;
  margin-right: 200px;
 
  width:100%;
  height: 1px;





border:1px solid rgb(193, 17, 17);



} */


.footer-icon-section{


width: 200px;;
display:flex;

justify-content:center;
align-items: center;
padding-right:250px;
padding-top: 100px;
flex-direction: row;
row-gap: 1px;
column-gap: 3em;




}